# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
+ popular languages used in data science
+ commonly used libraries used in data science
+ using arithmatic expressions in jupyter

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. sql
4. java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. ggplot
4. leaflet

| Data Science Tools |
| --- |
| jupyter |
| rstudio |
| anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [54]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [56]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
sri sadan